main{
    display:flex;
    flex-direction:column;
}



@media (min-width:1023px){
    main{
        margin-left:120px;
        margin-right:180px;
    }
    .title-area{
        width:65%;
    }

    .post-area{
        flex-direction: row;
    }
    .post-image img{
        width:35vw;
        height:250px;
        margin-right:60px;
    }
    .post-description-area{
        display:flex;
        flex-direction:column;
    }

    .happy-hour{
        width:125vw;
        height:250px;
        margin-right:60px;
    }

}